body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}
ul, li, a {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

.wrapper {
    padding-top: 18px;
}
.header {
}
.header__top {
    padding: 0 51px;
    border-bottom: 1px solid #1E2E36;
}
  
.header__top__row {
    display: flex;
    justify-content: space-between;
}
.header__top__row__left {
    display: flex;
    align-items: center;

}
.social {
  &__link {
    display: flex;
align-items: flex-start;
  & a {
    
  }
      & span {
         font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        text-align: left;
        }
        & img {
          height: 22px;
          width: 22px;
       
          }
        }
  &__tel {
      & a {
color: #1E2E36;
 font-family: Proxima Nova;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
position: relative;
&::after {
    content: '';
    position: absolute;
    top: 7px;
    right: -15px;
    width: 12px;
    height: 12px;
    background: url(../img/header/Vector.png) no-repeat  ;
}
}
        }
}
.header__top__row__right {
}
.nav {
  &__link {
    }
  &__tel {
    }
}
.nav__row {
}
.nav__row__item {
      display: flex;
  }
.nav__row__item__link {
      padding-right: 38px;
    & a {
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: #1E2E36;
        text-transform: uppercase;
        display: inline-block;
        &:after {
            background-color: #44C697;
            display: block;
            content: "";
            height: 3px;
            width: 0%;
            transition: width .3s ease-in-out;
        }
        &:hover:after,:focus:after {
            width: 100%;
        }
    }
 }
.nav__row__item__link a:after {
    
}
.nav__row__item__link a :hover {
    color: red;
}
.header__bottom {
    padding:15px 51px;
}
.header__bottom__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom__row__left {
}
.categories {
    display: flex;
     & li {
        & :hover {
            color: #44C697;
         
        }
     }
}
.categories__items {
    padding-right: 31px;
    & a {
 font-family: Proxima Nova;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #1E2E36;
position: relative;
&::after {
    content: '';
    position: absolute;
    top: 8px;
    right: -15px;
    width: 12px;
    height: 12px;
    background: url(../img/header/Vector.png) no-repeat  ;
}
}

}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo__img {
}
.logo__text {
color: #1E2E36;
padding-left: 15px;
font-family: Proxima Nova;
font-size: 36px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
}
.header__bottom__row__right {
}
.cart {
}
.cart__row {
    display: flex;
    align-items: center;
}
.cart__row__text {
color: #1E2E36;
font-family: Proxima Nova;
font-size: 18px;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
padding-right: 30px;
padding-left: 30px;
position: relative;

 &:before {
     content: '';
     position: absolute;
     top: -15%;
     left: -7%;
     background: url(../img/header/shopping-cart.png) no-repeat;
     width: 100%;
     height: 100%;
     cursor: pointer;
 }
}

.button__item {
    & button{
        padding:14px 46px;
        background-color: #44C697;
    color: #fff;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    transition: all ease 0.3s;
    &:hover {
        opacity: 0.8;
 color: blueviolet;
}
    }
    
}


// ============================================================
//          SLIDER
// ============================================================
.slider__container {
    width: 100%;
    height: 100%;
    background: url(../img/main/bg1.png) no-repeat;
    background-position: center;
    padding-bottom: 115px;
background-size: cover;  
}
.slider__box {
    height: 670px;
width: 462px;
margin-left: 51px;
top: 165px;
background-color: #FFFFFF;
border-left: 15px solid #44C697;
}

.swiper-container {
    width: 100%;
    height: 550px;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;

  }
  // стрелки
.swiper-button-next::after ,
.swiper-button-prev::after {
      
}
.advantage-wrapper {
}

.swiper-my-button::before {
}
.swiper-pagination {
    bottom: 0;
}
.swiper-pagination-bullet{
    margin: 20px 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: green;
    background-color: green;
}

.text__block {
    background-color: #FFFFFF;
    max-width: 447px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.text__title {
font-family: Proxima Nova;
font-size: 64px;
font-weight: 700;
line-height: 64px;
padding-bottom: 60px;
text-align: center;
}
.text__name {
font-family: Proxima Nova;
font-size: 36px;
font-weight: 700;
line-height: 45px;
padding-bottom: 10px;
text-align: center;
}
.text__subtitle {
font-family: Proxima Nova;
font-size: 36px;
font-weight: 400;
line-height: 45px;
padding-bottom: 30px;
text-align: center;
}
.button__item {
   
}
  // ===========================================================
//          
// ============================================================

.advantage {
}
.advantage__container {
}

.advantage__text {
font-family: Proxima Nova;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
padding-top: 100px;

}
.swiper__block {
    
   }
.swiper__block__text {
display: inline-block;
border-bottom: 3px solid #44C697;
font-family: Proxima Nova;
font-size: 26px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
color:#fff;
position: absolute;
top: 75%;
left: 5%
}
.swiper__block__subtitle {
}
.advantage-slide {
  }
.swiper__block__img  img{
    position: absolute;
object-fit: cover;
height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.swiper__block__img {
    width: 586px;
    height: 350px;
}
.swiper-my-button {
}
.swiper-scrollbar {
}
// ================================================================
//                  Products
// ================================================================
.product {
    &__text {
 font-family: Proxima Nova;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: center;

            }
}
.product__container {
    padding-bottom: 50px;
}
.product__categories {
    display: flex;
    justify-content: space-around;
}
.product__categories_item{
    & a p{
        display: block;
        color: #000;
        line-height: 1;
        text-align: center;
        cursor: pointer;
        position: relative;
        margin: 0;
      
        &:after {
            display: block;
            content: "";
            background-color: #44C697;
            height: 3px;
            width: 0%;
            bottom: -8px;
            left: 50%;
            position: absolute;
            transition: width .3s ease-in-out;
            transform: translateX(-50%);
        }
    }
    &:hover {
        & a p:after,:focus {
            width: 100%;
        }  
        & a p {
            color:#44C697 ;
        }
    }
}

.product__categories_item__img {
font-family: Proxima Nova;
font-size: 24px;
font-style: normal;
font-weight: 700;
letter-spacing: 0px;
text-align: center;
  & p {
    color: #000;
  }
}
.product__categories__item__title {
font-family: Proxima Nova;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
text-align: center;

}
.product__categories__item__title-line {
}
.product__item {
    margin: 0 auto;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product__lable-new , .product__lable-hit, .product__lable-sale {
    display: none;
}
.product__item__box {
 
}
.item__box {
    
    margin:25px 15px;
      cursor: pointer;
      &:hover {
        & .item__box__cost{
            background-color: #44C697;
            transition: all 0.5s linear;
           }
           border: 2px solid #44C697;
           margin:23px 13px;
      }
}
.item__box-new {
    .product__lable-new {
        display: inline-block;
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    padding: 5px 15px;
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 5%;
    left: 0;
}


}
.item__box-hit {
    .product__lable-hit {
        display: inline-block;
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 15px;
        color: #fff;
        background-color: #000;
        position: absolute;
        top: 5%;
        left: 0;
        }
}
.item__box-sale {
    .product__lable-sale{
        display: inline-block;
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 15px;
        color: #fff;
        background-color: #FF1B1B;
        position: absolute;
        top: 20%;
        left: 0;
    }
}
.item__box__img {
    position: relative;         
}
.item__box__img {
    max-width: 580px;
    max-height: 300px;
    & img {
      height: 100%;
      max-width: 100%;   
    }
}
.item__box__cost {
    display:flex ;
    justify-content: space-between;
    padding: 15px;
    
}
.item__box__cost__name {
font-family: Proxima Nova;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
}
.item__box__cost__value {
font-family: Proxima Nova;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0px;
}
.item__box-hit {
   text-align: center;
}
.product__button {
   text-align: center;
   & button {
    border: none;
   }
}
// ================================================================
//                 About Us
// ================================================================
.about-us {
    margin-bottom: -3px;
}
.about__container {
    margin: 0 auto;
     width: 100%;
    height: 100%;
    
}
.about__title {
font-family: Proxima Nova;
font-size: 48px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 50px;
margin-top: 30px;
}
.about__content {
    position: relative;
   height: 100%;
      display: flex;
    justify-content: flex-end;
}
.about__small {
    background:#fff;
    position: absolute;
    left: 0;
    top: 15%;
    max-width: 791px;
    padding: 50px 30px 50px 30px;
    height: 40%;
    z-index: 2;
    overflow: scroll;
    border-right: 15px solid #44C697;
    & p {
        font-family: Proxima Nova;
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;    
        & span {
            color: #44C697;
            font-size: 20px;
            font-weight: 700;
        }
    }
}
.about__big-r {
    height: 100%;
  width: 73%;
   & img  {
   width: 100%;
   
}
}
.about__content2 {
    position: relative;
    max-width: 100%;
  min-height: 100%;
 }
.about__big-l {
    width: 81%;
    min-height: 100%;
    & img  {
        width: 100%;
        height: 100%;
    }
}
    .about__small-right {
        max-width: 530px;
    padding: 50px 50px 50px 30px;
    max-height: 457px;
    border-left: 15px solid #44C697;
    background: #fff;
    }
.about__small-right-h {
    display: none;
}
    .about__small-right-r {
        position: absolute;
        right: 0;
        top: 12%;
        z-index: 2;
        }
.form {
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
& input {
    width :432px;
    height :51px;
    padding: 14px 100px 14px 15px;
    border: 1px solid #1E2E36;
    ;
}
p{
    padding-top: 15px;
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
}
& span {
    font-weight: 700;
}
}

.form__title {
font-family: Proxima Nova;
font-size: 36px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 30px;
}
.form__name {
    padding-bottom: 15px;
}
.form__name ::placeholder {
font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #1E2E36;
max-width: 100%;
}
.form__tel ::placeholder {
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    man-width: 100%;
}
.cart__row__button  {
    text-align: center;
    margin-top: 15px;
    
}
// ================================================================
//                 Footer
// ================================================================

.footer {

}
.footer__container {
    display: flex;
    justify-content: space-between;
   margin-top: 100px;
}
.footer__content {
    background-color: #1E2E36;
    flex: 0 1 44%;   
    padding: 0px 8px;
}
.footer__top {
}
.footer__logo {
    margin-top: 50px;
}
.logo__text-w {
    color: #fff;
        & p::first-letter {
       color: #44C697;
       
            } 
}
.footer__main {
    margin-top: 50px;
    
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__items {
    flex: 0 1 26%;
   text-align: left;
   padding: 0;
}
.footer__list {
    font-family: Proxima Nova;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 100%;
    color: #eee;
    & a {
        color: white;
    }
    & li {
        position: relative;
        &::before {
            content: '';
            width: 10px;
            height: 2px;
            display: inline-block;
            background-color:  #44C697;
            position: absolute;
            top: 27px;
            left: 35px;
        }
        & :hover {
            color: #44C697;
            transition: all linear 0.1s;
          }
          &:hover::before {
              background-color: white;
              transition: all linear 0.5s;
          }
    }
}
.footer__meu {
    padding: 15px 0 0 50px; 
   
}
.footer__social {
    flex: 0 1 40%;
  padding-left: 7%;
  color: white;
  font-family: Proxima Nova;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
padding-top: 15px;
}
.footer__social__test {
    
    padding-left: 28px;
    background: url(../img/footerIcons/map.png) no-repeat;
    background-position: left;
    
}
.footer__social__day {
    padding-left: 28px;
    background: url(../img/footerIcons/calendar.png) no-repeat;
   margin-top: 15px;
}
.footer__social__tel {
    margin-top: 15px;
        padding-left: 28px;
    background: url(../img/footerIcons/smartphone.png) no-repeat;
    background-position: 0 0;
    & a { 
        color: #44C697;
    }
}
.footer__social__text {
    margin-top: 30px;
}
.footer__social__icons {
}
.footer__buttom {
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding: 5px 0;
    min-height: 21px;
}
.footer__buttom__text {
    //styleName: 14 sp • Lable;
font-family: Proxima Nova;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0px;
text-align: left;
padding-top: 3px;

}
.footer__buttom__logo {
    font-family: Cuprum;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
background: url(../img/footerIcons/Vector2.png)0 0 no-repeat;
padding-left: 25px;
padding-top: 5px;
}
.footer__img {
   position: relative;
    flex: 0 1 68%;
   & img {
    width: 100%;   
    height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   object-fit: cover;
   }
}

// 992px
// 768px
// 480px
// 320px
@media (max-width: 1370px) {
    .header__top__row {
        flex-direction: column;
        align-items: center;
    }
   .header__bottom__row {
flex-wrap: wrap;
justify-content: space-around;
   }
}
@media (max-width: 1200px) {
 .social {
     display: none;
 }
.nav {
    margin-bottom: 20px;
}
}
@media (max-width:992px) {
    .about__small-right-r, .footer__img {
        display: none;
      }
      .about__small-right-h {
         display: block;
         position: relative;
         max-width: 100%;
     }
     .footer__container {
         display: block;
     }
  input {
       max-width: 100%;
        height :51px;
        padding: 14px 10px 14px 15px;
        border: 1px solid #1E2E36;
        width: 400px;
    }
}
@media (max-width: 680px) {
    .product__categories {
        flex-wrap: wrap;
    }
    .footer__row {
        flex-wrap: wrap;
        justify-content: space-around;
    }
   
    .footer__social {
        width: 100%;
        flex-basis: 90%;
        justify-content: center;
        text-align: center;
    }
    .slider__container {
        padding-bottom: 40px;
    }
    .advantage__text {
        padding-top: 50px;
    }
    .footer__social__test, .footer__social__day , .footer__social__tel {
        background-position: 15%;
    }
    .categories {
        flex-wrap: wrap;
        justify-content: center;
        & li {
            margin-right: 20px;
            margin-bottom: 15px;
        }
    }
}
@media (max-width: 480px) {
    .product__text h4 {
        line-height: 30px;
    }
    .item__box__cost__name {
        font-size: 16px;
    }
    .item__box {
        margin: 5px 15px;
    }
 .header__bottom {
     padding: 15px 15px;
 }
   .about__small, .about__big-r, .about__big-l, .about__title-h {
       display: none;
   }
   .about__title {
       margin: 0;
       padding: 10px 0;
   }
   .product__container {
       padding-bottom: 10px;
   }
   .form {
     & input {
         height :51px;
     padding: 14px 5px 14px 5px;
     border: 1px solid #1E2E36;
     width: 100%;
     }
    }
    .slider__box {
        margin: 0;
    }
    .footer__main {
        margin-top: 25px;
    }
    .footer__container {
        margin-top: 40px;
    }
    .footer__buttom {
        margin-top: 30px;
    }
    .slider__container {
        background: transparent;
    }
    .advantage__text {
        padding-top: 20px;
    }
    .slider__container {
        height: 500px;
    }
    .slider__box {

    }
    .slider__box {
        height: 530px;
    width: 280px;
    // top: 165px;
    background-color: #FFFFFF;
    border-left: 15px solid #44C697;
    }
   .logo__text {
       display: none;
   }
   .logo__img {
     
       img {
        position: absolute;
        top: 5px;
        left: 7%;
        height: 40px;
        width: 67px;
           object-fit: contain;
       }
   }
   .cart__row {
       flex-direction: column;
       align-items: center;
   }
   .text__block {
       max-width: 290px;
       overflow: hidden;
   }
}

// =========================================
//   BURGER
// ============================================

.header__burger {
    display: none;
}

@media (max-width: 767px) {
    .header__burger {
        display: block;
        position: relative;
        left: 90px;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 5;
        &:after, &:before {
            content: '';
            background-color: black;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        span {
            position: absolute;
            background-color: black;
            left: 0;
            height: 2px;
            top: 9px;
            width: 100%;
            transition: all 0.3s ease 0s;
        }
        
    }
    .header__burger.active {
        &::before{
            transform: rotate(-45deg);
           top: 9px;
            }   
        span {
        transform: scale(0);
            }
        &::after{
        transform: rotate(45deg); 
        bottom: 9px; 
        }
    }
    .header__menu {
        overflow: scroll;
        padding-top: 70px;
        position: fixed;
        z-index: 3;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#44C697;
        transition: all 0.5s ease 0s;
    }
    .header__menu.active {
        top: 0;
           }
    .header__list {
      flex-direction: column;
      padding-left: 4%;
      li >a {
          font-size: 30px;
        line-height: 60px;       
        font-weight: bold;   
      }
         }
    body.lock {
        overflow: hidden;
    }
    .about__form {
   p{
font-size: 12px;
   }
   span {
    font-size: 12px;
   }
    }
.about__title {
    font-size: 38px;
    margin: 0 auto;
}
.text__title {
    font-size: 40px;
}
.text__name {
    font-size: 34px;
}
.text__subtitle {
    font-size: 26px;
}
}
